<div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
  <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %> message-bubble">
    <div id="message-<%= message.id %>">
      <small>
        <strong><%= message.user.first_name %> <%= message.user.last_name %></strong>
        <i><%= message.created_at.strftime("%a at %l:%M %p") %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
