<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul>
        <li>Mes projets en cours</li>
        <li>Mon historique de projet</li>
        <li>Mon tableau de bord</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Location</th>
              <th>Budget</th>
              <th>Start Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><%= project.title %></td>
                <td><%= project.description %></td>
                <td><%= project.location %></td>
                <td><%= project.budget %></td>
                <td><%= project.start_date %></td>
                <td>
                    <% project_request = ProjectRequest.find_by(project_id: project.id) %>
                    <% if project_request.present? %>
                      <% if project_request.status == 'en_cours' %>
                        <button class="btn btn-outline-primary btn-sm">En Cours</button>
                      <% elsif project_request.status == 'accepte' %>
                        <button class="btn btn-outline-success btn-sm">Accepté</button>
                      <% elsif project_request.status == 'rejete' %>
                        <button class="btn btn-outline-secondary btn-sm">Rejeté</button>
                      <% else %>
                        <button class="btn btn-outline-secondary btn-sm">Statut Inconnu</button>
                      <% end %>
                    <% else %>
                      <button class="btn btn-outline-secondary btn-sm">Statut Non Défini</button>
                    <% end %>
                     </td>
                    <td>
                      <%= link_to edit_project_path(project), class: 'btn btn-outline-secondary btn-sm rounded-circle' do %>
                        <i class="fas fa-pencil-alt"></i> <!-- Icône de crayon -->
                      <% end %>
                      <%= link_to project_path(project), data: { confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-outline-secondary btn-sm rounded-circle' do %>
                        <i class="fas fa-trash-alt"></i> <!-- Icône de poubelle -->
                      <% end %>
                    </td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>

    </div>
  </div>
</div>
