<div class="banner1">
  <div class="container-fluid banner-bg-img h-82">
    <div class="container">
      <h1 class="hometitle">La rénovation en toute simplicité</h1>
      <p class="homesubtitle">Trouvez les experts pour mener à bien vos travaux de rénovation énergétique.</p>
      <a class="btn-main" href="<%= new_project_path %>">Commencez</a>
    </div>
  </div>
</div>


<section class="d-flex align-items-center justify-content-between bg-white container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="position-relative me-3 p-5">
          <%= image_tag "quote1.png", width: 36, class: "position-absolute start-0 top-0" %>
          <div class="end-0 position-absolute start-0 top-50 -translate-y-50 d-flex justify-content-center align-items-center">
            <%= image_tag "imagebanner2.png", width: 300 %>
          </div>
          <%= image_tag "quote2.png", width: 36, class: "bottom-0 end-0 position-absolute" %>
          <p class="">
            Mon appartement était une vraie passoire énergétique classée G et je ne savais pas par où commencer. Better Place est très rassurant pour le choix des artisans proposés! Alex P.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="position-relative mx-3 p-5">
          <%= image_tag "quote1.png", width: 36, class: "position-absolute start-0 top-0" %>
          <div class="end-0 position-absolute start-0 top-50 -translate-y-50 d-flex justify-content-center align-items-center">
            <%= image_tag "imagebanner2.png", width: 300 %>
          </div>
          <%= image_tag "quote2.png", width: 36, class: "bottom-0 end-0 position-absolute" %>
          <p class="">
            En tant qu'artisan du BTP, je n'ai pas les compétences ni les moyens pour me créer de la visibilité en ligne. Cette plateforme me permet d'entrer en contact avec les propriétaires qui ont besoin de mon expertise technique. Marine D.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="position-relative ms-3 p-5">
          <%= image_tag "quote1.png", width: 36, class: "position-absolute start-0 top-0" %>
          <div class="end-0 position-absolute start-0 top-50 -translate-y-50 d-flex justify-content-center align-items-center">
            <%= image_tag "imagebanner2.png", width: 300 %>
          </div>
          <%= image_tag "quote2.png", width: 36, class: "bottom-0 end-0 position-absolute" %>
          <p class="">
            Je peux enfin trouver des artisans qui ont une approche écologique des travaux! Thomas B.
          </p>
        </div>
      </div>
    </div>
    <div class="image-container">
      <div class="overlay-text"></div>
    </div>

    <% if false %>
      <%= image_tag "quote1.png", width: 200 %>
      <%= image_tag "imagebanner22.png", width: 200 %>
      <%= image_tag "quote2.png", width: 200 %>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatum!
      </div>

      <%= image_tag "quote1.png", width: 200 %>
      <%= image_tag "imagebanner2.png", width: 200 %>
      <%= image_tag "quote2.png", width: 200 %>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, voluptatum!
      </div>
    <% end %>
  </div>

</section>

<section class="d-flex align-items-center justify-content-between main-container" style="background-color: #F1F0FF;">
  <%= image_tag "househome.png", width: 400 %>
  <div>
    <h3 style="display: block;">Vos travaux en toute serenité.</h3>
    <p>
      Better Place sélectionne les meilleurs artisans pour vos travaux de rénovation. Trouvez l'expert technique par domaine d'expertise et concevez votre projet en toute confiance.
    </p>
  </div>
</section>

<section class="d-flex align-items-center justify-content-between main-container bg-white">
  <div>
    <h3>Un bien plus durable et écologique.</h3>
    <p>
      La rénovation énergétique est essentielle pour lutter contre les biens polluants et excessivement énergivores. Faites des économies d'énergie significatives, améliorez votre qualité de vie et valorisez votre patrimoine grâce à Better Place.
    </p>
  </div>
  <%= image_tag "imagebanner4.png", width: 400 %>
</section>
