<div class="card-trip d-flex flex-column">
  <div class="card-trip-infos flex-column flex-grow-1">
    <div>
      <h1><%= artisan.company_name %></h1>
      <p class="mb-3"><%= artisan.skill %></p>
      <div><%= artisan.address %></div>
      <div><%= artisan.phone_number %></div>
      <div><%= artisan.siret_number %></div>
      <a href="#" class="btn-main">Envoyer mon projet</a>
    </div>
  </div>
</div>
