

<div class="card">
  <img src="<%= artisan.image %>" class="card-img-top" style="widht:200px; height:150px;"alt="...">
  <div class="card-body">
    <div class="card-text">
      <h3 class="card-title" style="margin-top:10px"><%= artisan.company_name %></h5>
      <h5 style="margin-top:5px"><%= artisan.first_name %> <%= artisan.last_name %></h5>
      <p><%= artisan.address %></p>
    </div>
    <div class="button-container">
      <%= button_to "Envoyer mon projet", artisans_project_path(@project), method: :post, class: "btn-main" %>
    </div>
  </div>
</div>
