
<div class='container-fluid custom-container'>
  <div class="row justify-content-center" style="margin-top: 30px;">
  <h3>3/3</h3>
  <div class="progress bg-warning" style="margin-bottom:10px">
    <div data-formtoggle-target="progress" class="progress-bar bg-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

  </div>
    <div class="col-12 col-lg-8 mb-lg-0" style='background-color: white; padding-right: 5px'>
    <h2 style='color: black; text-align: center; margin:30px'>Veuillez selectionner des artisans pour votre projet</h2>
      <div class="cards" >

        <% @artisans.each do |artisan| %>
          <%= render partial: 'artisan_card', locals: { artisan: artisan, project: @project } %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-4" style='background-color: white'>
      <h1 style="margin:30px; color: black"><strong><%= @project.title %></strong></h1>
      <p><%= @project.description %></p>
      <p><%= @project.location %></p>
      <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>
