<!-- app/views/restaurants/_form.html.erb -->
<div class="container mt-5 mb-5" data-controller='formtoggle'>
  <div class="row">
    <%= simple_form_for (@project), data: { controller: "datepicker"} do |f| %>
      <div class="col" data-target='formtoggle.page1'>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :budget %>
        <%= f.input :start_date, label: 'Date de début pour votre projet', as: :string, input_html: { data: { datepicker_target: "startDate"} } %>
        <%= link_to "Suivante", "javascript:void(0);", data: { action: "formtoggle#nextPage" } %>
      </div>

      <div class="col" data-target='formtoggle.page2'>
        <%= f.label :work_ids, "Select Works" %>
        <%= f.collection_check_boxes :work_ids, Work.all, :id, :name %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
