
<div class='container'>
    <div class="row justify-content-around mt-5">
      <div class="col-6" style='background-color:grey'>
        <h1>Mon projet : <%= @project.title %></h1>
        <p>Description : <%= @project.description %>.</p>
        <p>Localisation du chantier : <%= @project.location %></p>
        <p>Budget idéal : <%= @project.budget %> €</p>
        <p>Date dé début de travaux souhaité : <%= Date.parse(@project.start_date).strftime("%d %B %Y") %></p>

        <% if @project.photo.attached? %>
          <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "travaux.png", height: 300, width: 400 %>
        <% end %>

        <div>
         <% @project_works.each do |project_work| %>
            <p> <strong><%= project_work.name %></strong></p>
            <ul>
              <% artisans_for_work = User.where(skill: project_work.name) %>
              <% artisans_for_work.each do |artisan| %>
                <li>
                  <p>Company Name: <%= artisan.company_name %></p>
                  <% project_request = ProjectRequest.find_by(user_id: artisan.id, project_id: @project.id) %>
                  <p>Status: <%= project_request.status if project_request %></p>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="col-4" style='background-color:yellow'data-controller="project-subscription"
  data-project-subscription-project-id-value="<%= @project.id %>">
        <h2>Chat</h2>
        <div class="messages" data-project-subscription-target="messages">
          <% @project.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        <%= simple_form_for [@project, @message], html: {class: "d-flex"} do |f|%>
        <%= f.input :content,
        label: false,
        placeholder: "Message",
        wrapper_html: {class: "flex-grow-1"}%>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>
</div>
