<div class='container'>
    <div class="row justify-content-around mt-5">
      <div class="col-6" style='background-color:grey'>
        <h1><%= @project.title %></h1>
        <p><%= @project.description %></p>
        <p><%= @project.location %></p>
        <p><%= @project.budget %></p>
        <p><%= @project.start_date %></p>
        <div>
          <p><%= @project.project_requests.size %></p>
              <% @project.project_requests.each do |pr| %>
                <% selected_user = User.find(pr.user_id) %>
                <p>Project reques ID:<%= pr.id %></p>
                <p>Selected User: <%= selected_user.inspect %></p>
                <p>Company Name: <%= selected_user.company_name if selected_user %></p>
              <% end %>
          <% @project_works.each do |project_work| %>
            <p><%= project_work.name %></p>

          <% end %>
        </div>
      </div>
      <div class="col-4" style='background-color:yellow'>
        One of two columns
      </div>
    </div>
</div>
