<div class="padding-left-0 row justify-content: space-around gap-4 show-content">
  <div class="card-project col-6">
    <div class='card-category col-6'style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @project.photo.present? && @project.photo.attached? ? cl_image_path(@project.photo.key) : image_path('travaux.png') %>)">
      <div class='card-picture-info'>
        <h1><%= @project.title %></h1>
        <h3><i><%= @project.description %>.</i></h3>
      </div>
    </div>
    <div class='col-6 px-4 d-flex flex-column justify-content-between'>
      <div class='info-project'>
        <div class='card-project-location d-flex align-items-center'>
          <i class="fa-solid fa-location-dot me-2 mb-0"></i>
          <p class="mb-0"><%= @project.location %></p>
        </div>
        <div class='card-project-budget-date'>
          <div class='card-info-project card-info-project-budget d-flex align-items-center'>
            <%# <i class="mb-0 me-2 fa-solid fa-euro-sign"></i> %>
            <p class="mb-0"><%= @project.budget %> €</p>
          </div>
          <div class='card-info-project card-info-project-date d-flex align-items-center'>
            <%# <i class="me-2 mb-0 fa-regular fa-calendar"></i> %>
            <p class="mb-0"><%= Date.parse(@project.start_date).strftime("%d %B %Y") %></p>
          </div>
        </div>
      </div>
      <div class='info-works'>
        <% @project_works.each do |project_work| %>
          <div class='info-works-card'>
            <%= image_tag image_for_work(project_work), width: 35, height: 35, class: "ldslkdssdk" %>
            <div class='info-works-card-company'>
              <h4><strong><%= project_work.name %></strong></h4>
              <% @artisans.where(skill: project_work.name).each do |artisan| %>
                <p class=''><%= artisan.company_name %></p>
                <%# <i class="fa-solid fa-person-digging me-2"></i> %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

   <div class="chat-project col-3" data-controller="project-subscription" data-project-subscription-project-id-value="<%= @project.id %>" data-project-subscription-current-user-id-value="<%= current_user.id %>">

          <h2>Chat</h2>
          <div class="messages" data-project-subscription-target="messages">
            <% @project.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>
          <%= simple_form_for [@project, @message], html: {class: "d-flex", data: { action: "submit->project-subscription#empty" }} do |f|%>
            <%= f.input :content,
              label: false,
              placeholder: "Message",
              wrapper_html: {class: "flex-grow-1"}
            %>
            <%= f.submit "Envoyer", class: "btn btn-chat mb-3" %>
          <% end %>
  </div>
</div>
