<div class="row justify-content: space-around">
  <div class="card-project col-6">
    <div class='project-spec'>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @project.photo.present? && @project.photo.attached? ? cl_image_path(@project.photo.key) : image_path('travaux.png') %>)">
      </div>
      <h1><%= @project.title %></h1>
    </div>
    <p>Description : <br><i><%= @project.description %>.</i></p>
    <div class="project-spec-info">
      <div class="project-spec-info-category">
        <i class="fa-solid fa-location-pin"></i>
        <p><%= @project.location %></p>
      </div>
      <div class="project-spec-info-category">
        <i class="fa-solid fa-wallet"></i>
        <p><%= @project.budget %> €</p>
      </div>
      <div class="project-spec-info-category">
        <i class="fa-regular fa-calendar"></i>
        <p><%= Date.parse(@project.start_date).strftime("%d %B %Y") %></p>
      </div>
    </div>
    <h2 class="fonts">Mes travaux</h2>
    <div class="project-spec-info">
      <% @project_works.each do |project_work| %>
        <div class="project-spec-info-works">
          <div class="project-spec-info-works-icon">
            <%= image_tag image_for_work(project_work), width: 35, height: 35, class: "ldslkdssdk" %>
          </div>
          <h2 class="fonts">Mes travaux</h2>
          <div class="project-spec-info">
            <h4><strong><%= project_work.name %></strong></h4>
              <% @artisans.where(skill: project_work.name).each do |artisan| %>

                <div class='project-spec-info-entreprise'>
                    <p class=''><i class="fa-solid fa-person-digging me-2"></i> <%= artisan.company_name %></p>
                </div>

              <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="chat-project col-3" data-controller="project-subscription" data-project-subscription-project-id-value="<%= @project.id %>">
    <div class='inline-elements'>
      <h2>Chat</h2>
      <i class="fa-regular fa-comments"></i>
    </div>
        <div class="messages" data-project-subscription-target="messages">
          <% @project.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        <%= simple_form_for [@project, @message], html: {class: "d-flex"} do |f|%>
        <%= f.input :content,
        label: false,
        placeholder: "Message",
        wrapper_html: {class: "flex-grow-1"}%>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>
  </div>
</div>
</div>
lorem ipsumlorem ipsum
